<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="de.nico.simplechannelsubscriber">

    <uses-permission android:name="de.nico.pushnotification.servicetester.permission.NOTIFICATION_CHANNEL_SUBSCRIBER" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="de.nico.pushnotification.library.default_notification_icon"
            android:resource="@drawable/ic_notification"/>

        <meta-data
            android:name="de.nico.pushnotification.library.notification_channel"
            android:value="@string/notification_channel"/>
    </application>

</manifest>